@import 'normalize';
@import 'vars';

html, body {
	min-height: 100%;
}

body {
	// background: $white url(#{$img-path}/body-bg.jpg) no-repeat bottom center;
	background: $white url(#{$img-path}/mst3k.svg) no-repeat bottom center;
	background-size: 102% auto;
	background-attachment: fixed;
	font: normal 100%/1.5 $sans-serif;
	text-align: left;
	color: $black;
	@include cleartext(0);
}

section {
	max-width: 1140px;
	min-width: 320px;
	margin: 0 auto;
	padding: 5em 0;
	text-align: center;
}

header {
	font-family: $open-sans;
	font-weight: 400;
	@include rotator(-10);

	h1, h2, h3, p {
		margin: 0;
		padding: 0;
	}

	h1, h2, h3 {
		display: block;
		clear: both;
	}

	h1 {
		font: 400 6em/0.9 $russo;
		border-bottom: 1px dashed $black;
		padding-bottom: 0.25em;
		text-shadow: 4px 4px 0 $white, 12px 12px 0 lighten($black, 85%);
	}

	h2 {
		font-size: 1.3em;
		text-transform: uppercase;
		letter-spacing: 0.3em;
	}

	h3 {
		font-size: 0.75em;
		color: lighten($black, 60%);
		text-transform: uppercase;
		letter-spacing: 0.3em;
		padding: 0.5em 0;
	}

	p {
		text-transform: uppercase;
		color: lighten($black, 60%);
		margin: 0;
		padding: 10px;
		letter-spacing: 0.3em;
		position: relative;
		border-radius: 20em;

		span {
			display: inline-block;

			&:before, &:after {
				border-top: 1px dashed $black;
				display: block;
				height: 1px;
				content: " ";
				width: 45%;
				position: absolute;
				left: 0;
				top: 50%;
			}

			&:after {
				right: 0;
				left: auto;
			}
		}
	}
}
